@model IEnumerable<GrapheneTrace.Models.Patient>

<h2>Patients</h2>

<p>
    <a asp-action="Create">Create New Patient</a>
</p>

<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.User.Username</td>
            <td>@p.User.FirstName @p.User.LastName</td>
            <td>@p.User.Email</td>
            <td>@p.DateOfBirth?.ToShortDateString()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@p.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@p.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@p.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>